<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" android:installLocation="auto" package="bsd.suitcase.release" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <meta-data android:name="com.appsflyer.FacebookApplicationId" android:value="@string/facebook_application_id"/>
    <uses-feature android:glEsVersion="0x00030000" android:required="true"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="true"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="true"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <supports-screens android:largeScreens="true" android:normalScreens="true" android:smallScreens="false" android:xlargeScreens="true"/>
    <meta-data android:name="android.max_aspect" android:value="2.4"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_BASIC_PHONE_STATE"/>
    <uses-permission android:name="android.Manifest.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="*"/>
        </intent>
        <package android:name="com.nzincorp.zinny.sdk.sample"/>
        <package android:name="com.kakaogame.sample"/>
        <package android:name="com.kakaogames.sample"/>
        <package android:name="com.kakao.talk"/>
        <package android:name="com.kakao.talk.alpha"/>
        <package android:name="com.kakao.talk.sandbox"/>
        <package android:name="com.kakao.onetalk"/>
        <package android:name="com.supercell.brawlstars"/>
        <package android:name="com.supercell.boombeach"/>
        <package android:name="com.supercell.clashofclans"/>
        <package android:name="com.supercell.clashroyale"/>
        <package android:name="com.supercell.hayday"/>
        <package android:name="com.supercell.squad"/>
        <package android:name="com.supercell.squadbusters"/>
        <package android:name="com.supercell.id.dev"/>
        <package android:name="com.supercell.id.dev.debug2"/>
        <package android:name="com.supercell.id.dev.debug3"/>
        <package android:name="com.supercell.id.flutter_test_app"/>
        <package android:name="com.supercell.squad.integration_v2"/>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
        <intent>
            <action android:name="com.google.android.apps.play.billingtestcompanion.BillingOverrideService.BIND"/>
        </intent>
        <intent>
            <action android:name="com.appsflyer.referrer.INSTALL_PROVIDER"/>
        </intent>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.instagram.android"/>
        <intent>
            <action android:name="android.accessibilityservice.AccessibilityService"/>
        </intent>
    </queries>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <application android:allowBackup="true" android:appCategory="game" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:backupAgent="com.supercell.titan.PreferencesBackupAgent" android:extractNativeLibs="true" android:fullBackupContent="@xml/appsflyer_backup_rules" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.supercell.titan.TitanApplication" android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true" android:usesCleartextTraffic="true">
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id"/>
        <meta-data android:name="com.google.android.backup.api_key" android:value="@string/backup_api_key"/>
        <meta-data android:name="android.supports_size_changes" android:value="true"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:maxAspectRatio="2.4" android:name="com.supercell.brawlstars.GameApp" android:resizeableActivity="true" android:screenOrientation="sensorLandscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="adjustNothing|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="brawlstars"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="link.brawlstars.com" android:scheme="http"/>
                <data android:host="link.brawlstars.com" android:scheme="https"/>
                <data android:host="link-staging.brawlstars.com" android:scheme="http"/>
                <data android:host="link-staging.brawlstars.com" android:scheme="https"/>
                <data android:host="brawlstars.onelink.me" android:pathPrefix="/XKTM" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="kakaogame241121"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="kakaod509a010c29a8768bcc216071a43fa9b"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="kakaolink" android:scheme="kakaod509a010c29a8768bcc216071a43fa9b"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="kakaostory" android:scheme="kakaod509a010c29a8768bcc216071a43fa9b"/>
            </intent-filter>
            <meta-data android:name="com.kakao.sdk.AppKey" android:value="d509a010c29a8768bcc216071a43fa9b"/>
        </activity>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_classic" android:name="com.supercell.brawlstars.ClassicIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_1" android:name="com.supercell.brawlstars.BetaIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_22" android:name="com.supercell.brawlstars.BrawloweenIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_24" android:name="com.supercell.brawlstars.PirateIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_29" android:name="com.supercell.brawlstars.StarrParkIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_46" android:name="com.supercell.brawlstars.GhostStationIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_47" android:name="com.supercell.brawlstars.CandyLandIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_48" android:name="com.supercell.brawlstars.HubIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_49" android:name="com.supercell.brawlstars.RescueIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_50" android:name="com.supercell.brawlstars.EnchantedForestIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_51" android:name="com.supercell.brawlstars.HyperchargedIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_52" android:name="com.supercell.brawlstars.BizarreCircusIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_53" android:name="com.supercell.brawlstars.StarrToonsIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_54" android:name="com.supercell.brawlstars.RankedIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_55" android:name="com.supercell.brawlstars.GodzillaIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_57" android:name="com.supercell.brawlstars.SpongeBobIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_58" android:name="com.supercell.brawlstars.AngelsDemonsIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_59" android:name="com.supercell.brawlstars.ToyStoryIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="true" android:exported="true" android:icon="@drawable/ic_launcher" android:name="com.supercell.brawlstars.CurrentUpdateIcon" android:targetActivity="com.supercell.brawlstars.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <receiver android:name="com.supercell.titan.TimeAlarm"/>
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="d509a010c29a8768bcc216071a43fa9b"/>
        <meta-data android:name="io.sentry.dsn" android:value=""/>
        <meta-data android:name="io.sentry.session-tracking.enable" android:value="true"/>
        <meta-data android:name="io.sentry.environment" android:value="production"/>
        <meta-data android:name="io.sentry.anr.timeout-interval-mills" android:value="2000"/>
        <meta-data android:name="io.sentry.anr.enable" android:value="true"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3940256099942544~1234567890"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_notification"/>
        <service android:exported="false" android:name="com.supercell.titan.PushMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false"/>
        <meta-data android:name="android.max_aspect" android:value="2.4"/>
        <meta-data android:name="android.notch_support" android:value="true"/>
        <meta-data android:name="io.sentry.ndk.scope-sync.enable" android:value="true"/>
        <meta-data android:name="com.appsflyer.FacebookApplicationId" android:value="@string/facebook_application_id"/>
        <provider android:authorities="bsd.suitcase.release.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="com.supercell.titan.ThermalMonitorInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.supercell.titan.NetworkInfo$NetworkInfoInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.supercell.titan.usercentrics.UsercentricsInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false"/>
        <activity android:configChanges="keyboard|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.kakaogame.KGAuthActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED" android:value="true"/>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <property android:name="android.adservices.AD_SERVICES_CONFIG" android:resource="@xml/ga_ad_services_config"/>
        <provider android:authorities="bsd.suitcase.release.playgamesinitprovider" android:exported="false" android:initOrder="99" android:name="com.google.android.gms.games.provider.PlayGamesInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.games.internal.v2.resolution.GamesResolutionActivity" android:theme="@style/Theme.Games.Transparent"/>
        <meta-data android:name="com.google.android.gms.games.version" android:value="@string/play_games_sdk_version"/>
        <meta-data android:name="flutterProjectType" android:value="module"/>
        <meta-data android:name="flutterEmbedding" android:value="2"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="com.helpshift.activities.HSMainActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="com.helpshift.activities.HSDebugActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:exported="false" android:name="io.flutter.plugins.urllauncher.WebViewActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:launchMode="singleTask" android:name="com.kakao.sdk.partner.user.AgeAuthActivity" android:theme="@style/TransparentCompat"/>
        <activity android:name="com.kakao.sdk.friend.view.FullPickerActivity" android:theme="@style/DayNightFull" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="com.kakao.sdk.friend.view.PopupPickerActivity" android:theme="@style/DayNightPopup"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:launchMode="singleTask" android:name="com.kakao.sdk.auth.TalkAuthCodeActivity" android:theme="@style/TransparentCompat"/>
        <activity android:launchMode="singleTask" android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity" android:theme="@style/TransparentCompat"/>
        <receiver android:exported="true" android:name="com.supercell.id.scid_plugin.SharedDataBroadcastReceiver">
            <intent-filter>
                <action android:name="com.supercell.id.GetSharedData"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.supercell.id.scid_plugin.SharedDataReceiverBroadcastReceiver"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="7.1.1"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivityV2" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <uses-library android:name="app-inputmapping" android:required="false"/>
        <provider android:authorities="bsd.suitcase.release.SentryInitProvider" android:exported="false" android:name="io.sentry.android.core.SentryInitProvider"/>
        <provider android:authorities="bsd.suitcase.release.SentryPerformanceProvider" android:exported="false" android:initOrder="200" android:name="io.sentry.android.core.SentryPerformanceProvider"/>
        <provider android:authorities="bsd.suitcase.release.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <provider android:authorities="bsd.suitcase.release.flutter.share_provider" android:exported="false" android:grantUriPermissions="true" android:name="dev.fluttercommunity.plus.share.ShareFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/flutter_share_file_paths"/>
        </provider>
        <receiver android:exported="false" android:name="dev.fluttercommunity.plus.share.SharePlusPendingIntent">
            <intent-filter>
                <action android:name="EXTRA_CHOSEN_COMPONENT"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:enabled="false" android:exported="false" android:name="androidx.camera.core.impl.MetadataHolderService">
            <meta-data android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER" android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <uses-library android:name="android.ext.adservices" android:required="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <meta-data android:name="io.sentry.gradle-plugin-integrations" android:value="DatabaseInstrumentation,FileIOInstrumentation,OkHttpInstrumentation,LogcatInstrumentation"/>
    </application>
</manifest>